{% set title = 'Main' %} {% extends 'base.html' %} {% block content %}

<main class="content">
  <ul>
    <li><a href="./sign-in">Sign-In</a></li>
    <li><a href="./password-recovery">Password recovery</a></li>
    <li><a href="./ready">Ready</a></li>
    <li><a href="./reset-password">Reset password</a></li>
    <li><a href="./sign-up">Sign-Up 1</a></li>
    <li><a href="./sign-up2">Sign-Up 2</a></li>
    <li><a href="./sign-up_ready">Sign-Up 6</a></li>
    <li><a href="./profile-info">Profile</a></li>
    <li><a href="./profile-account">Profile 2</a></li>
    <li><a href="./search-results">Search</a></li>
    <li><a href="./search-map">Search-2</a></li>
    <li><a href="./admin">Admin</a></li>
  </ul>
</main>

{% endblock %}
