{% set title = 'Password recovery' %} {% set question = 'Back to' %} {% set
nameLink = 'Sign in' %} {% set link = './sign-in' %} {% extends './base.html' %}
{% block content %}

<main class="content">
  <div class="content__wrapper">
    <form action="#" class="form set-form">
      <div class="form__content">
        <h2 class="form__title">Enter your e-mail to reset your password</h2>
        <input type="text" class="form__input mrgn" placeholder="E-mail" />
        <button class="btn btn_down">Send</button>
      </div>
    </form>
  </div>
</main>

{% endblock %}
