<header class="header profile-header">
  <div class="content">
    <div class="header__inner">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="/'">Home</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="./search-results">Search</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link link_active" href="#">Results</a>
          </li>
        </ul>
      </div>

      <select>
        <option>Sarah Freeman</option>
        <option>Logout</option>
      </select>
    </div>
  </div>
</header>
