{% set breadcrumbs__item1 = 'Home' %} {% set breadcrumbs__item2 = 'Manage users'
%} {% set title = 'Admin' %} {% extends './admin/adm-base.html' %} {% block
content%}

<main class="content">
  <div class="content__wrapper">
    <section class="container">
      <div class="container__inner">
        <header class="container__search">
          <img
            class="container__search-img"
            src="./images/admin-search.svg"
            alt="search-icon"
          />
          <input
            class="container__search-input"
            placeholder="Type here to search..."
            type="text"
            name=""
          />
        </header>

        <section class="container__database">
          <header class="container__database-item header-bgcolor">
            <p class="container__database-header-text">FIRST NAME</p>
            <p class="container__database-header-text">LAST NAME</p>
            <p class="container__database-header-text">COUNTRY</p>
            <p class="container__database-header-text">STATUS</p>
            <p class="container__database-header-text">LEVEL</p>
            <p class="container__database-header-text">E-MAIL</p>
          </header>

          <div class="container__database-items">
            <div class="container__database-item">
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Australia</p>
              <p class="container__database-item-text">Requested</p>
              <select
                class="container__database-item-text container__database-item-select"
              >
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold" selected>Gold</option>
              </select>
              <p class="container__database-item-text">rfrome@gmail.com</p>
              <div class="container__database-item-img">
                <img class="" src="./images/remove-usr.svg" alt="remove btn" />
              </div>
            </div>

            <div class="container__database-item">
              <p class="container__database-item-text">Tiffany</p>
              <p class="container__database-item-text">Tiffany</p>
              <p class="container__database-item-text">Australia</p>
              <p class="container__database-item-text">Expected</p>
              <select
                class="container__database-item-text container__database-item-select"
              >
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold" selected>Gold</option>
              </select>
              <p class="container__database-item-text">rfrome@gmail.com</p>
              <div class="container__database-item-img">
                <img class="" src="./images/remove-usr.svg" alt="remove btn" />
              </div>
            </div>

            <div class="container__database-item">
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Australia</p>
              <p class="container__database-item-text">Completed</p>
              <select
                class="container__database-item-text container__database-item-select"
              >
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold" selected>Gold</option>
              </select>
              <p class="container__database-item-text">rfrome@gmail.com</p>
              <div class="container__database-item-img">
                <img class="" src="./images/remove-usr.svg" alt="remove btn" />
              </div>
            </div>

            <div class="container__database-item">
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Australia</p>
              <p class="container__database-item-text">Completed</p>
              <select
                class="container__database-item-text container__database-item-select"
              >
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold" selected>Gold</option>
              </select>
              <p class="container__database-item-text">rfrome@gmail.com</p>
              <div class="container__database-item-img">
                <img class="" src="./images/remove-usr.svg" alt="remove btn" />
              </div>
            </div>

            <div class="container__database-item">
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Australia</p>
              <p class="container__database-item-text">Expected</p>
              <select
                class="container__database-item-text container__database-item-select"
              >
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold" selected>Gold</option>
              </select>
              <p class="container__database-item-text">rfrome@gmail.com</p>
              <div class="container__database-item-img">
                <img class="" src="./images/remove-usr.svg" alt="remove btn" />
              </div>
            </div>

            <div class="container__database-item">
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Australia</p>
              <p class="container__database-item-text">Completed</p>
              <select
                class="container__database-item-text container__database-item-select"
              >
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold" selected>Gold</option>
              </select>
              <p class="container__database-item-text">rfrome@gmail.com</p>
              <div class="container__database-item-img">
                <img class="" src="./images/remove-usr.svg" alt="remove btn" />
              </div>
            </div>

            <div class="container__database-item">
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Richard</p>
              <p class="container__database-item-text">Australia</p>
              <p class="container__database-item-text">Requested</p>
              <select
                class="container__database-item-text container__database-item-select"
              >
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="gold" selected>Gold</option>
              </select>
              <p class="container__database-item-text">rfrome@gmail.com</p>
              <div class="container__database-item-img">
                <img class="" src="./images/remove-usr.svg" alt="remove btn" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</main>
{% endblock %}
