<header class="header profile-header">
  <div class="content">
    <div class="header__inner">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="/'">{{ breadcrumbs__item1 }}</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link link_active" href="#"
              >{{ breadcrumbs__item2 }}</a
            >
          </li>
        </ul>
      </div>

      <div class="user-list">
        <img class="user-list__img" src="./images/header-user.png" alt="user" />
        <select>
          <option>Faruh Bernandez</option>
          <option>Logout</option>
        </select>
      </div>
    </div>
  </div>
</header>
